
.container
  .row
    .col-md-4  
         img(src='assets/images/rutabaga.png', alt='A healthy vegetable', align='right')
    .col-md-6     
        form.form-signin( method="post")
          h2.form-signin-heading Please sign in
          input.form-control(type="text", name="username", placeholder="Email address")
          input.form-control(type="password", name="password", placeholder="Password")
          label.checkbox.
            <input type="checkbox" value="remember-me" /> Remember me
          button.btn.btn-large.btn-primary.btn-block(type="submit") Sign in

footer.footer
  .container
    p
      | &copy RTI International
      = ' | '
      a(href='https://twitter.com/adam704a') @adam704a
